<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="User ID=THINKPAD\kkura;Data Source=THINKPAD\SQLEXPRESS;Initial Catalog=test-db;Integrated Security=True;TrustServerCertificate=True;"  providerName="Sql.Data.Client"/>
  </connectionStrings>
  <appSettings>
    <add key="bootstrap.servers" value="kurapaty.uksouth.azure.confluent.cloud:9092"/>
    <add key="sasl.username" value="<USER_NAME>"/>
    <add key="sasl.password" value="<USER_PASSWORD>"/>
    <add key="topic.name" value="datagen-topic"/>
    <add key="DbTableName" value="KafkaMessages"/>
  </appSettings>
</configuration>