<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bootstrap.servers" value="kurapaty.uksouth.azure.confluent.cloud:9092"/>
    <add key="sasl.username" value="<USER_NAME>"/>
    <add key="sasl.password" value="<USER_PASSWORD>"/>
    <add key="topic.name" value="datagen-topic"/>
  </appSettings>
</configuration>